.gallery {
  &__albums {
    display: flex;
    flex-direction: row;
  }

  &__albums-photo {
    border: 1px solid #4c4e59b5;;
    border-radius: 15px;
    height: 250px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__albums-photo-img {
    max-width: 100%;;
    max-height: 100%;
  }
}